<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href='acr.css'>
<link rel="stylesheet" href="{% static 'css/acr.css' %}">
<link crossorigin='anonymous' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tutorials - watercolors</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
     <a class="navbar-brand" href="#">
      <img src="{% static 'images/gin.png' %}" alt="cat">
      <strong>ADEPTNESS</strong>
     </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="huh.html"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="gallery.html"><i class="fas fa-images"></i> Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="log.html"><i class="fab fa-gripfire"></i> Login</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-american-sign-language-interpreting"></i> More</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="Artists.html">Artists</a>
        <a class="dropdown-item" href="#">Famous works</a>
        <a class="dropdown-item" href="styleh.html">Styles</a>
        <a class="dropdown-item" href="#">For novice artist</a>
        <a class="dropdown-item" href="Educational.html">Tutorials</a>
      </div>
    </li>
  </ul>
  </div>
  </nav>

    <div class="container">
    <div class="row">
      <div class="col" id='cont'>
        <pre class='dr'>  Drawing lessons for all </pre> <pre class='dr' id='j'>  Self development </pre>
        <h1>Drawing acrylics</h1>
        <div class="content">
        <b>Decide what colors you need.</b>
        <p id='brush'>Choose 8–10 colors of artistic acrylic paints. If you are just starting to paint, 8–10 colors will be enough. Choose one paint tube of basic colors (blue, yellow and red) and 5–7 additional colors that you like to draw. For example: black; purple or pink; brown; green; white.</p>
        <img src="acr.jpg" id='mark'>
        <br>

        <b>Select brushes.</b>
          <p id='brush'>
Buy 5–8 art brushes for painting in various styles. Below is a list of the most common types of brushes for acrylic:
<br><i class="fas fa-paint-brush fa-spin"></i>round brushes (for drawing lines and parts);
<br><i class="fas fa-paint-brush fa-spin"></i>flat brushes (for creating large greasy strokes and painting large areas);
<br><i class="fas fa-paint-brush fa-spin"></i>fan brushes (for mixing paints and blurring borders);
<br><i class="fas fa-paint-brush fa-spin"></i>short cropped brushes (for close work with the canvas and creating clear thick strokes);
<br><i class="fas fa-paint-brush fa-spin"></i>flat slanted brushes (for painting the corners and drawing small parts).</p>
 <img src="acr2.jpg" id="mark">
<br>
<b>Get the basis for drawing acrylics.</b>
  <p id='brush'>As a simple base option, choose a primed canvas on a frame. If you are a novice artist, canvas will be the best material for you as a base. The canvas can be made of cotton or linen and sold in various forms, for example, on a stretcher and without it.</p>
<img src="acr3.jpg" id="mark">
<br><br>
            <b>What to draw?</b>

            <p id='brush'>The most difficult question that stops and scares most emerging artists. You can spend a few hours or even days puzzling over inventing a brilliant idea for a drawing, but you can’t find anything. However, in doing so, you are not only imitating activities. Your skills and skills do not grow, but remain at the same level.</p>
            <br>
            <img src="acr4.jpg" id="mark">
            <p id='brush'>If you can not come up with an original idea - do not stand still! Take a look around. Put a still life of what is at hand.</p>
            <br>
          <img src="acr5.jpg" id="mark">
          <p id='brush'>Go for a walk and pick a couple of flowering branches or flowers. During the walk, find a beautiful stone and try to convey its texture.</p>
          <br>
          <img src="acr6.jpg" id="mark">
          <br>
            <p id='brush'>First draw some abstract spot, and then, applying fantasy, try to see something special in it, add details. Thus, without thinking about what to draw, you will draw, maybe not the most original things, but they will help you to put your hand, feel the brush and paints, learn to work with light, shadow and contrasts. Draw, draw more, and ingenious creative thoughts will come with time! Good luck in your work and unlimited inspiration!</p>
            <img src="acr7.jpg" id="mark">
</div>
      </div>
</div>
</div>


  <div class="container-fluid">
  <div class="row">
    <div class="col-3"> <p id='jk'>Information</p></div>
    <div class="col-3"><p id='jk'>Sirvices</p></div>
    <div class="col-3"><p id='jk'>Events</p></div>
    <div class="col-3"><p id='jk'>Contacts</p></div>
  </div>
</div>

<div class="container-fluid" id='footer'>
  <div class="row">
    <div class="col">Autors: IK</div>
    <div class="col"><a href="#">Tickets</a></div>
    <div class="col"><a href="#">Avangard</a></div>
    <div class="col">
<a href="#">Facebook</a>
    </div>
    <div class="w-100"></div>
    <div class="col">Wall st. h45.numb3</div>
    <div class="col"><a href="#">Merch</a></div>
    <div class="col"><a href="#">Nature</a></div>
    <div class="col"><a href="#">Twitter</a></div>
    <div class="w-100"></div>
    <div class="col">555-45-98</div>
    <div class="col">
<a href="#">Packs</a>
</div>
    <div class="col">
<a href="#">Historical</a>
    </div>
    <div class="col"><a href="#">Email</a></div>
    <div class="w-100"></div>
    <div class="col"><pre>     </pre></div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
