<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href='akva.css'>
<link rel="stylesheet" href="{% static 'css/akva.css' %}">
<link crossorigin='anonymous' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tutorials - watercolors</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
     <a class="navbar-brand" href="#">
      <img src="{% static 'images/gin.png' %}" alt="cat">
      <strong>ADEPTNESS</strong>
     </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="huh.html"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="gallery.html"><i class="fas fa-images"></i> Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="log.html"><i class="fab fa-gripfire"></i> Login</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-american-sign-language-interpreting"></i> More</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="Artists.html">Artists</a>
        <a class="dropdown-item" href="#">Famous works</a>
        <a class="dropdown-item" href="styleh.html">Styles</a>
        <a class="dropdown-item" href="#">For novice artist</a>
        <a class="dropdown-item" href="Educational.html">Tutorials</a>
      </div>
    </li>
  </ul>
  </div>
  </nav>

    <div class="container">
    <div class="row">
      <div class="col" id='cont'>
        <pre class='dr'>  Drawing lessons for all </pre> <pre class='dr' id='j'>  Self development </pre>
        <h1>Drawing with watercolors</h1>
        <div class="content">
        <b>Decide what colors you need.</b>
        <p id='brush'>Most likely, you will need a standard set of colors: dark yellow, lemon yellow, scarlet, crimson, blue, cyan, dark orange. When you learn how to handle basic colors, move on to others.</p>
        <img src="{% static 'images/color.jpg' %}" id="mark">
        <br>

        <b>Select brushes.</b>
          <p id='brush'>You should choose brushes of different sizes, from the fifth to the tenth. They should be pointed so that they hold the paint well. You can also buy a flat brush. She will have a long sharp edge, which will be convenient to put the base on the paper and blur the paint.
 Some artists recommend buying a good brush at once, others - start with inexpensive ones in order to understand whether you like watercolor. Buy brushes according to your budget and desire to work with watercolors.</p>
 <img src="{% static 'images/brush.jpg' %}" id="mark">
<br>
<b>Buy watercolor paper.</b>
  <p id='brush'>It is necessary to buy special paper if you want the surface not to swell when applying paint. Watercolor paper is very dense and textured. It can withstand quite a lot of water and paint.
Watercolor paper can be different: hot pressing (with a smooth surface), cold pressing (with a surface of medium smoothness), rough (with a rough surface). Beginners are best to use thick paper.</p>

            <b>Some techniques and tricks/</b>
            <ol>
              <li>Preparation for work.Pick a comfortable place. Look for a full-spectrum light bulb or lamp. The light will not be too warm, so you will be able to convey natural colors. The lampshade on the lamp should be white - thanks to this, the light will not get an unnecessary shade.</li>
              <li>So, everything is ready, and we can learn some tricks. Learn to blur the paint. This technique allows you to fill a large space with uniform color. First, draw a square or rectangle on the paper and draw a large amount of paint into the brush. </li>

              <img src="{% static 'images/p.png' %}" id="mark">
              <li>Brush the top of a square or rectangle, touching the paper with just the tip of the paint, and then go down a centimeter down the right edge. Raise the brush so that all the paint is on the paper. So you will have a big watercolor bubble.</li>

              <img src="{% static 'images/p2.png' %}" id="mark">
              <li>Learn to type two colors. You will need to mix them on paper, not in the palette, so that one color will more smoothly pass into another</li>

              <img src="{% static 'images/p3.png' %}" id="mark">
              <li>Learn how to collect paint from paper. This is a convenient technique that should be used when you make a mistake or want to do something special. You can just blot a piece of paper with a paper towel, but for finer work you should take a brush</li>
              <img src="{% static 'images/p4.png' %}" id="mark">
              <br>
            <b>Learn to draw the sky.</b>
            <ol>
              <li>Dampen the paper and wait until the water has absorbed a little. When the surface is still wet, but no longer shines, it will be easier to draw. Apply a few large strokes of Neapolitan yellow paint diluted with water to indicate the location of the clouds. It would be easier to pre-outline the figure, but on a clean sheet you will have the opportunity to improvise. If you decide to start with a draft, try to draw light lines.</li>

              <img src="{% static 'images/s.jpg' %}" id="mark">
              <li>Type a sufficient amount of cobalt blue diluted with water on the brush and begin to paint the upper contour of the clouds. To make strokes light and natural, use the flat side of the brush rather than the tip. If at this point the paper above is almost dry, the outlines will look too sharp. This can be corrected with a wet brush, blurring clear boundaries in some places.</li>

              <img src="{% static 'images/s2.jpg' %}" id="mark">
              <li>Type a sufficient amount of cobalt blue diluted with water on the brush and begin to paint the upper contour of the clouds. To make strokes light and natural, use the flat side of the brush rather than the tip. If at this point the paper above is almost dry, the outlines will look too sharp. This can be corrected with a wet brush, blurring clear boundaries in some places.</li>

              <img src="{% static 'images/s3.jpg' %}" id="mark">
              <li>Continue to draw the blue sky, denoting the lower contour of the clouds, as well as depicting distant clouds and the horizon line.</li>

              <img src="{% static 'images/s4.jpg' %}" id="mark">
              <li>Continue to add shadows and soften the contours of the flat side of the brush. Paint the field with quick, large strokes, mixing cobalt blue and Neapolitan yellow paint.</li>

              <img src="{% static 'images/s5.jpg' %}" id="mark">
              <li>After the sky has been painted, add a few details in the foreground to give the entire picture a finished look.</li>

              <img src="{% static 'images/s6.jpg' %}" id="mark">
            </ol>
</div>
      </div>
</div>
</div>


  <div class="container-fluid">
  <div class="row">
    <div class="col-3"> <p id='jk'>Information</p></div>
    <div class="col-3"><p id='jk'>Sirvices</p></div>
    <div class="col-3"><p id='jk'>Events</p></div>
    <div class="col-3"><p id='jk'>Contacts</p></div>
  </div>
</div>

<div class="container-fluid" id='footer'>
  <div class="row">
    <div class="col">Autors: IK</div>
    <div class="col"><a href="#">Tickets</a></div>
    <div class="col"><a href="#">Avangard</a></div>
    <div class="col">
<a href="#">Facebook</a>
    </div>
    <div class="w-100"></div>
    <div class="col">Wall st. h45.numb3</div>
    <div class="col"><a href="#">Merch</a></div>
    <div class="col"><a href="#">Nature</a></div>
    <div class="col"><a href="#">Twitter</a></div>
    <div class="w-100"></div>
    <div class="col">555-45-98</div>
    <div class="col">
<a href="#">Packs</a>
</div>
    <div class="col">
<a href="#">Historical</a>
    </div>
    <div class="col"><a href="#">Email</a></div>
    <div class="w-100"></div>
    <div class="col"><pre>     </pre></div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
