{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="rev.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/rev.css' %}">
<title>
For Novice Artists
</title>
<link crossorigin='anonymous' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' rel='stylesheet'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript">
</script>
<style type='text/css'>
</style>
</head>
<body class="fon">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <a class="navbar-brand" href="#">
    <img src="{% static 'images/gin.png' %}" alt="cat">
    <strong>ADEPTNESS</strong>
   </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="huh.html"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="gallery.html"><i class="fas fa-images"></i> Gallery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="log.html"><i class="fab fa-gripfire"></i> Login</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-american-sign-language-interpreting"></i> More</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="Artists.html">Artists</a>
      <a class="dropdown-item" href="#">Famous works</a>
      <a class="dropdown-item" href="styleh.html">Styles</a>
      <a class="dropdown-item" href="#">For novice artist</a>
      <a class="dropdown-item" href="Educational.html">Tutorials</a>
    </div>
  </li>
</ul>
</div>
</nav>

	<br>
	<br>

	<div class='poster'>

		<div class="container_head">
			  <span class="mytext1">Want to be an artist?</span>
			  <span class="mytext2">We will help you</span>
		</div>
	</div>


<div class="container">
	<div class="row" style='margin-top: 50vw; padding: 50px;'>
				<div class="col-sm-4 revealator-zoomin revealator-delay1 revealator-once">
					<img src="{% static 'images/LOGO.png' %}" style="width: 30vw; height: auto; border-radius: 100%;">
				</div>
				<div class="col-sm-6 offset-sm-2" style="background-color: #99BAE7;">
					<h1><a id="aboutme" style='font-family: Century Gothic; text-align: center;' >ART CLASSES</a></h1>
					<div class="revealator-slideup revealator-delay2 revealator-once" >
						<p style="font-size: 17px;font-family: Century Gothic;">When it comes to online art classes and art schools, it really is true that you get what you pay for, and there's no time like the present to commit to a course. </p>
						<p style="font-size: 17px;font-family: Century Gothic;"> Decide to invest in high-quality tuition, delivered by leading professionals, and you'll soon find your ability as an artist improving by leaps and bounds.</p>
						<p style="font-size: 17px; font-family: Century Gothic;">When choosing the right art class for you, take into account your current skill level – beginner, intermediate or advanced – as not all classes will be relevant to your level.</p>

          </div>
				</div>
	</div>
</div>
<br>
<br>
<br>

<h1 style="text-align: center;">AVAILABLE LESSONS</h1>
<br>
<div class="container">

	<div class="card-deck">

	  <div class="card revealator-slideright revealator-delay revealator-once">
	  	<div class="hov">
	  	<img class="card-img-top" src="{% static 'images/crs.png' %}" alt="Card image cap">
	    <div class="card-body">
	      <h4 class="card-title">ZERO TO ONE</h4>
	      <p class="card-text">Level 0-1.</p>
	    </div>
	</div>
	  </div>
  <div class="card revealator-slideright revealator-delay1 revealator-once">
  	<div class="hov">
  	<img class="card-img-top" src="{% static 'images/crs4.png' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">THE WORLD OF ABSTRACT ART</h4>
      <p class="card-text">Level 1-3 (WAA)</p>
     </div>
    </div>
   </div>
     <div class="card revealator-slideright revealator-delay2 revealator-once">
     <div class="hov">
  	<img class="card-img-top" src="{% static 'images/crs2.png' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">EXPRESSING YOU IN YOUR ARTS</h4>
      <p class="card-text">Level 3-4(EYA)</p>
    </div>
</div>
</div>
   <div class="card revealator-slideright revealator-delay3 revealator-once">
   	<div class="hov">
  	<img class="card-img-top" src="{% static 'images/crs3.png' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">EMBRASING THE STRUGGLE IN ART</h4>
      <p class="card-text">Level 4-6 (ESA)</p>
    </div>
  </div>
</div>
    <div class="card revealator-slideright revealator-delay4 revealator-once">
    <div class="hov">
  	<img class="card-img-top" src="{% static 'images/crs5.png' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">THE ARTIST'S JOURNEY/"CARPA DIEM"</h4>
      <p class="card-text">Level 5-7(CD) </p>
    </div>
</div>
  </div>
</div>
</div>

<br>
<br>
<br>
<h1 style="text-align: center; font-family: Century Gothic;">WHAT LEVEL WILL YOU REACH?</h1>
<br>

<div class="container">
	<div class="flex-wrapper">
  <div class="single-chart  revealator-zoomin revealator-delay revealator-once">
    <svg viewBox="0 0 36 36" class="circular-chart orange">
      <path class="circle-bg"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path class="circle"
        stroke-dasharray="23, 100"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <text x="18" y="20.35" class="percentage">Z to O</text>
    </svg>
  </div>

  <div class="single-chart revealator-zoomin revealator-delay1 revealator-once">
    <svg viewBox="0 0 36 36" class="circular-chart green">
      <path class="circle-bg"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path class="circle"
        stroke-dasharray="40, 100"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <text x="18" y="20.35" class="percentage">EYA</text>
    </svg>
  </div>

  <div class="single-chart revealator-zoomin revealator-delay2 revealator-once">
    <svg viewBox="0 0 36 36" class="circular-chart blue">
      <path class="circle-bg"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <path class="circle"
        stroke-dasharray="80, 100"
        d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
      />
      <text x="18" y="20.35" class="percentage">CD</text>
    </svg>
  </div>
</div>
</div>
<br><br><br>
<p style="text-align: center; font-family: Century gothic;font-size:30px; margin-top:35px;">Thank you! For more information, leave a <a href="log.html">request.</a></p>
<br><br><br>
<br><br><br>
<div class="container-fluid">
<div class="row">
  <div class="col-3"> <p id='jk'>Information</p></div>
  <div class="col-3"><p id='jk'>Sirvices</p></div>
  <div class="col-3"><p id='jk'>Events</p></div>
  <div class="col-3"><p id='jk'>Contacts</p></div>
</div>
</div>

<div class="container-fluid" id='footer'>
<div class="row">
  <div class="col">Autors: IK</div>
  <div class="col"><a href="#">Tickets</a></div>
  <div class="col"><a href="#">Avangard</a></div>
  <div class="col">
<a href="#">Facebook</a>
  </div>
  <div class="w-100"></div>
  <div class="col">Wall st. h45.numb3</div>
  <div class="col"><a href="#">Merch</a></div>
  <div class="col"><a href="#">Nature</a></div>
  <div class="col"><a href="#">Twitter</a></div>
  <div class="w-100"></div>
  <div class="col">555-45-98</div>
  <div class="col">
<a href="#">Packs</a>
</div>
  <div class="col">
<a href="#">Historical</a>
  </div>
  <div class="col"><a href="#">Email</a></div>
  <div class="w-100"></div>
  <div class="col"><pre>     </pre></div>
</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src='https://bootstrap-ru.com/203/assets/js/bootstrap-carousel.js' ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/rev.js' %}"></script>

</body>
</html>
