{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Styles</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">c</script>
      <script src="{% static 'js/funst.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link crossorigin='anonymous' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' rel='stylesheet'/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
     <a class="navbar-brand" href="#">
      <img src="{% static 'images/gin.png' %}" alt="cat">
      <strong>ADEPTNESS</strong>
     </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="huh.html"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="gallery.html"><i class="fas fa-images"></i> Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="log.html"><i class="fab fa-gripfire"></i> Login</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-american-sign-language-interpreting"></i> More</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Artists</a>
        <a class="dropdown-item" href="#">Famous works</a>
        <a class="dropdown-item" href="#">Styles</a>
        <a class="dropdown-item" href="#">For novice artist</a>
        <a class="dropdown-item" href="#">Tutorials</a>
      </div>
    </li>
  </ul>
  </div>
  </nav>

  <div class="header">
    <div  class="text">
      <p id='ille'>ART Styles</p>
    </div>
  </div>

  <div class="all">


 <div class="ch">


  <ul class="category-list">
    <li><a id='abs' href=''>Abstract Expressionism</a></li>
    <li><a id="nov" href="">Art Noveau</a></li>
    <li><a id="gar" href="">Avant-garde</a></li>
    <li><a id="cla" href="">Classicism</a></li>
    <li><a id="exp" href="">Expressionism</a></li>
    <li><a id="fau" href="">Fauvism</a></li>
    <li><a id="cub" href="">Cubism</a></li>
    <li><a id='con' href="">Conceptual Art</a></li>
    <li><a id="sur" href="">Surrealism</a></li>
    <li><a id='pos' href="">Post-Impressionism</a></li>
  </ul>
</div>

<div class='ch2'>
<p id=t >What does fauvism mean and what is conceptual art all about? Speaking art seems like a discipline in itself and if you are new to the art world, you probably have a ton of questions, especially about each movement in art and the different types of art. Whether you're looking for inspiration on how to complete the 20 art style challenge, or you are confused with Expressionism v. Impressionism or Baroque v. Rococo, Artland’s online glossary is designed to explain simple art terminology. Here, we provide you with the top terms of art movements and styles. Stay tuned for more to come!</p>
</div>
</div>

<div class="foot">

<div class="container-fluid">
<div class="row">
  <div class="col-3"> <p id='jk'>Information</p></div>
  <div class="col-3"><p id='jk'>Sirvices</p></div>
  <div class="col-3"><p id='jk'>Events</p></div>
  <div class="col-3"><p id='jk'>Contacts</p></div>
</div>
</div>

<div class="container-fluid" id='footer'>
<div class="row">
  <div class="col">Autors: IK</div>
  <div class="col"><a href="#">Tickets</a></div>
  <div class="col"><a href="#">Avangard</a></div>
  <div class="col">
<a href="#">Facebook</a>
  </div>
  <div class="w-100"></div>
  <div class="col">Wall st. h45.numb3</div>
  <div class="col"><a href="#">Merch</a></div>
  <div class="col"><a href="#">Nature</a></div>
  <div class="col"><a href="#">Twitter</a></div>
  <div class="w-100"></div>
  <div class="col">555-45-98</div>
  <div class="col">
<a href="#">Packs</a>
</div>
  <div class="col">
<a href="#">Historical</a>
  </div>
  <div class="col"><a href="#">Email</a></div>
  <div class="w-100"></div>
  <div class="col"><pre>     </pre></div>
</div>
</div>
</div>

  </body>
</html>
